{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Between the Pages: A Haven for Book Lovers</h1>
                <p>
                    Welcome to our book store, where you can find a wide selection of books in various genres, from bestsellers to hidden gems waiting to be discovered.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Start shopping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}


